@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import "./config";
@import "./drawingPanel";
@import "./palette";
@import "./editor";
@import "./pixel";
@import "./row";

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: $background-100;
  color: $color-0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-family: "Play", sans-serif;
  // text-align: center;
  // min-width: fit-content;
}

.App {
  position: relative;
}
